@import "./main.css";
@import "./header.css";
@import "./footer.css";

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 90vh;
  color: #333 !important;
  background-color: #f8f8f8 !important;
}
