* {
  font-size: 1em;
}
body {
  font-family: Arial, Gadget, sans-serif;
  width: 100wh;
  height: 90vh;
  color: #f8f8f8;
  background-color: #333;
}
::-webkit-scrollbar {
  display: none;
}

.about-heading {
  text-align: center;
  font-size: 4em;
}

p {
  font-size: 1.5em;
}

.about {
  border: 1px solid #f8f8f8;
  width: 70%;
  position: relative;
  left: 10%;
  padding: 0em 5em;
  font-size: 11px;
}

span {
  display: flex;
  display: block;
  font-size: 1.5em;
}
span.main-explanation::before {
  content: "★";
}
span.skills {
  font-size: 1.3em;
  padding-top: 10px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

a {
  color: #f8f8f8;
}

dt, dd {
  margin-bottom: 2em;
}

dt {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}
.school_name {
  font-weight: bold;
}

.date{
  font-size: 1em;
  display: inline;
  position: absolute;
  right: 10%;
}

.back_button {
  padding-bottom: 2em;
  text-align: center;
}
